<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - m1人机交互系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}" />
    {% block head %}

    {% endblock %}

</head>
<body class="app sidebar-mini rtl">
	<div id="aside_header">
	{% block header %}
	<!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="{{ url_for('view.index') }}">
    	<img style="position: relative;top: -3px;height: 70%;" src=" {{  url_for('static', filename='img/logo.png')  }}"/>
    </a>

      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
        <div style="color: #fff;line-height: 50px;" class="app-nav">
            {% if user %}
                 {{ user.user_account }}
            {% endif %}
	  <span id="loginout" style="color: #fff;cursor: pointer">退出登录</span>
        </div>

    </header>
    {% endblock %}

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>


    {% block menu %}
	<!-- Sidebar menu-->
    <aside class="app-sidebar">
      <ul class="app-menu">
        <li><a class="app-menu__item app_item" href="{{  url_for('view.index') }}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">首页</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">基本配置</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item app_item" href="{{  url_for('view.config_basic') }}">目标参数</a></li>
            <li><a class="treeview-item app_item" href="{{  url_for('view.config_network') }}">网络配置</a></li>
            <li><a class="treeview-item app_item" href="{{  url_for('view.config_swj') }}">上位机配置</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">系统管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
              <li><a class="treeview-item app_item" href="{{  url_for('view.sys_log')  }}">运行日志</a></li>
            <li><a class="treeview-item app_item" href="{{  url_for('view.sys_cpwd')  }}">密码修改</a></li>
            <li><a class="treeview-item app_item" href="{{  url_for('view.sys_restart')  }}">重启</a></li>
            <li><a class="treeview-item app_item" href="{{  url_for('view.sys_upd')  }}">软件升级</a></li>
            <li><a class="treeview-item app_item" href="{{  url_for('view.sys_time')  }}">系统时间</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item app_item" href="{{  url_for('view.network')  }}"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">无线设置</span></a></li>
        <li><a class="app-menu__item app_item" href="{{  url_for('view.login')  }}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">退出</span></a></li>
      </ul>
    </aside>

	{% endblock %}
</div>

	{% block main %}
    {% endblock %}

	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src=" {{ url_for('static', filename='vali-admin/docs/js/main.js') }} "></script>
	<script src="{{url_for('static', filename='layer/layer.js')}}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$().ready(function(){
    		var path = "{{  request.path  }}";
	    	$('a.app_item').each(function(){
	    		if($(this).attr('href')==path){
	    			$('a.app_item').removeClass('active');
	    			$(this).addClass('active');
	    			$('li.treeview').removeClass('is-expanded');
	    			$(this).parents('li.treeview').addClass('is-expanded');
	    		}
	    	});

            // var session_uid = "{{ session['uid'] }}"
            // if(session_uid==""){
            //     console.log(session_uid=="")
            //     location.href='{{url_for("view.login")}}'
            // }

            $("#loginout").click(function(){
                $.post('/post/loginout/',function(){
                   location.href='{{url_for("view.login")}}'
                });
            });


    	})
	</script>
	{% block js %}
	{% endblock %}

</body>
</html>