{% extends "layout/base.html" %}
{% block head %}
<title>index page</title>
{% endblock %}

{% block main %}


    <main class="app-content">
    	
	<div class="app-title">
	    <div>
	      <h1>网络信息</h1>
	      <!--<p>Start a beautiful journey here</p>-->
	    </div>
    </div>
    
    <div class="tile col-md-10 col-sm-12 col-xs-12" style="margin: 0 auto;">
    	<div class="tile-body row">
    		<div class="col-md-8">
    			<form class="form-horizontal">
	                <div class="form-group row">
	                  <label class="control-label col-md-3 a_label">联网方式：</label>
	                  <div class="col-md-9">
	                    <div class="form-check">
	                      <label class="form-check-label">
	                        <input class="form-check-input" type="radio" name="gender">动态ip
	                      </label>
	                      <label class="form-check-label" style="margin-left: 6em;">
	                        <input class="form-check-input" type="radio" name="gender">静态ip
	                      </label>
	                    </div>
	                  </div>
	                </div>
	                
	                <div class="form-group row">
	                  <label class="control-label col-md-3 a_label">端口：</label>
	                  <div class="col-md-6">
	                    <input class="form-control" type="text" placeholder="" value="8000">
	                  </div>
	                </div>
	                
	                <div class="form-group row">
	                  <label class="control-label col-md-3 a_label">子网掩码：</label>
	                  <div class="col-md-6">
	                    <input class="form-control" type="text" placeholder="" value="255.255.255.0">
	                  </div>
	                </div>
	                
	                <div class="form-group row">
	                  <label class="control-label col-md-3 a_label">网关：</label>
	                  <div class="col-md-6">
	                    <input class="form-control" type="text" placeholder="" value="192.168.1.1">
	                  </div>
	                </div>
	                
	                <div class="form-group row">
	                  <label class="control-label col-md-3 a_label">主DNS：</label>
	                  <div class="col-md-6">
	                    <input class="form-control" type="text" placeholder="" value="192.168.1.1">
	                  </div>
	                </div>
	                
	                <div class="form-group row">
	                  <label class="control-label col-md-3 a_label">次DNS：</label>
	                  <div class="col-md-6">
	                    <input class="form-control" type="text" placeholder="" value="0.0.0.0">
	                  </div>
	                  <div class="col-md-2">非必填</div>
	                </div>
	                
	                <div class="center-block">
	                	<button class="btn btn-info">确定</button>
	                	<button class="btn">取消</button>
	                </div>
          		</form>
    		</div>
    		
    	</div>
    </div>
    </main>
{% endblock %}


{% block js %}

<script src=" {{ url_for('static', filename='vali-admin/docs/js/popper.min.js') }}"></script>
<script src=" {{ url_for('static', filename='vali-admin/docs/js/main.js') }}"></script>
<script src=" {{ url_for('static', filename='vali-admin/docs/js/plugins/pace.min.js') }}"></script>
<script src=" {{ url_for('static', filename='vali-admin/docs/js/plugins/chart.js') }}"></script>

{% endblock %}



