{% extends "layout/base.html" %}
{% block head %}
{% endblock %}
{% block title %}无线设置{% endblock %} 
{% block main %}


    <main class="app-content">
    	
	<div class="app-title">
	    <div>
	      <h1>无线设置</h1>
	    </div>
    </div>
    
    <div class="tile col-md-10 col-sm-12 col-xs-12" style="margin: 0 auto;">
    	<div class="tile-body row">
    		<div class="col-md-12">
    			<div>
    				<label class="control-label a_label" style="float: left;">WIFI：</label>
    			</div>
    				<br />
              	<!--<div>
              		<ul>
              			<li>1</li>
              			<li>1</li>
              			<li>1</li>
              			<li>1</li>
              		</ul>
    			</div>-->
    		</div>
    		
    	</div>
    </div>
    </main>
{% endblock %}





