{% extends "layout/base.html" %}
{% block head %}
{% block title %}修改密码{% endblock %} 
{% endblock %}

{% block main %}


    <main class="app-content">
    	
	<div class="app-title">
	    <div>
	      <h1>修改密码</h1>
	    </div>
    </div>
    
    <div class="tile col-md-3 col-sm-12 col-xs-12 a_sm_content">
    	<div class="tile-body row" >
    		<div class="col-md-12">
    			<div class="a_title" style="margin-bottom: 1.5em;">修改密码</div>
    			<form class="form-horizontal">
    				<div class="form-group row">
	                  <label class="control-label col-md-4 a_label2">旧密码：</label>
	                  <div class="col-md-8">
	                    <input class="form-control" type="text" placeholder="">
	                  </div>
	                </div>
	                <div class="form-group row">
	                  <label class="control-label col-md-4 a_label2">新密码：</label>
	                  <div class="col-md-8">
	                    <input class="form-control" type="text" placeholder="">
	                  </div>
	                </div>
	                <div class="form-group row" style="margin-bottom: 2em;">
	                  <label class="control-label col-md-4 a_label2">确认新密码：</label>
	                  <div class="col-md-8">
	                    <input class="form-control" type="text" placeholder="">
	                  </div>
	                </div>
	                
	                
	                <hr />
	                
	                <input style="margin-top: 1em;" class="btn btn-primary" type="submit" name="" id="" value="确定" />
	                
    			</form>
    		</div>
    		
    	</div>
    </div>
    </main>
{% endblock %}





