{% extends "layout/base.html" %}
{% block head %}
{% block title %}软件升级{% endblock %} 
{% endblock %}

{% block main %}


    <main class="app-content">
    	
	<div class="app-title">
	    <div>
	      <h1>软件升级 </h1>
	    </div>
    </div>
    
    <div class="tile col-md-10 col-sm-12 col-xs-12" style="margin: 0 auto;">
    	<div class="tile-body row">
    		<div class="col-md-12">
    			<div>
    				<label class="control-label a_label">程序更新：</label>
             		 (请先将要升级的程序文件压缩成为一个.RAR文件,升级完成重新启动生效)
    			</div>
              	<div>
    				<label class="control-label a_label">当前版本：</label>
             		 V1.0.1
    			</div>
    			<div>
    				<label class="control-label a_label">选择升级文件：</label>
             		 <input style="width: auto;display: inline-block;" class="form-control" type="file">
    				<button class="btn btn-info">升级</button>
    			</div>
    		</div>
    		
    	</div>
    </div>
    </main>
{% endblock %}


{% block js %}

<script src=" {{ url_for('static', filename='vali-admin/docs/js/main.js') }}"></script>

{% endblock %}



