{% extends "layout/base.html" %} {% block head %} {% block title %}网络配置{% endblock %}

<style type="text/css">
	.a_title {
		margin-bottom: 1.5em;
	}
	.a_label2{
		font-size: 1.1em;font-weight: 600;
		position: relative;
		top: .4em;
	}
	.a_row_item{
		margin-bottom: 2em;
	}
	
</style>

{% endblock %} {% block main %}

<main class="app-content">

	<div class="app-title">
		<div>
			<h1>网络信息{{params}}</h1>
			<!--<p>Start a beautiful journey here</p>-->
		</div>
	</div>

	<div class="tile col-md-6 col-sm-12 col-xs-12 a_sm_content">
		
		<div class="row tile-body">
			<div class="col-md-12">
				<div class="a_title">网络信息</div>
				<form class="form-horizontal" action="" method="post">
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 " style="top: 0;">联网方式：</label>
		                  <div class="col-md-6">
		                    <div class="form-check " style="padding: 0;">
		                      <div class="animated-radio-button" style="line-height: 1.5em;">
					              <label>
					                <input type="radio"><span class="label-text">静态ip </span>
					              </label>
					              &emsp;
					              <label>
					                <input type="radio" checked=""><span class="label-text">动态ip </span>
					              </label>
					            </div>
		                    </div>
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 ">ip&emsp;&emsp;&emsp;：</label>
		                  <div class="col-md-6">
			                    <input id="ip" class="form-control " type="text " placeholder=" " value="{{params.ip}} ">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 ">端口&emsp;&emsp;：</label>
		                  <div class="col-md-6">
			                    <input id="port" class="form-control " type="text " placeholder=" " value="{{params.port}} ">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 ">子网掩码：</label>
		                  <div class="col-md-6">
			                    <input id="netmask" class="form-control " type="text " placeholder=" " value="{{params.netmask}} ">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 ">网关&emsp;&emsp;：</label>
		                  <div class="col-md-6">
			                    <input id="gw" class="form-control " type="text " placeholder=" " value="{{params.gw}} ">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 ">主DNS&emsp;：</label>
		                  <div class="col-md-6">
			                    <input class="form-control " type="text " placeholder=" " value="255.255.255.0">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-3 a_label2 ">次DNS&emsp;：</label>
		                  <div class="col-md-6">
			                    <input class="form-control " type="text " placeholder=" " value=" ">
		                  </div>
		                  <div class="col-md-3" style="line-height: 3em;">无</div>
					</div>
				</form>
			</div>

			<div class="col-md-12">
				<hr>
				<div style="margin: 3em auto 1em auto;width: 100%;text-align: center;">
					<input id="save" class="btn btn-info" type="button" value="确定"/>
					
					<a href="{{  url_for('post.changenetwork')  }}">确定</a>
					
					<button class="btn" style="margin-left: 2em;">取消</button>
				</div>
			</div>
			
		</div>
		
    </div>
    </main>
{% endblock %}


{% block js %}

<script src=" {{ url_for( 'static', filename='vali-admin/docs/js/popper.min.js' ) }} "></script>
<script src=" {{ url_for( 'static', filename='vali-admin/docs/js/plugins/pace.min.js' ) }} "></script>
<script src=" {{ url_for( 'static', filename='vali-admin/docs/js/plugins/chart.js' ) }} "></script>
<script type="text/javascript">
	$("#save").click(function(){
		var ip = $("#ip").val();
		var netmask = $("#netmask").val();
		var port = $("#port").val();
		var gw = $("#gw").val();
		$.post('/post/reconfig_network',{ip:ip, netmask:netmask, port:port, gw:gw},function(res){
			console.log(res);
			if(res.code==101){
				alert('修改成功');
			}else{
			    alert('修改失败');
			}
		})
	})
</script>
{% endblock %}

