{% extends "layout/base.html" %} {% block head %} {% block title %}上位机配置{% endblock %}

<style type="text/css">
	.a_title {
		margin-bottom: 1.5em;
	}
	.a_label2{
		font-size: 1.1em;font-weight: 600;
		position: relative;
		top: .4em;
	}
	.a_row_item{
		margin-bottom: 2em;
	}
	
</style>

{% endblock %} {% block main %}

<main class="app-content">

	<div class="app-title">
		<div>
			<h1>上位机配置</h1>
			<!--<p>Start a beautiful journey here</p>-->
		</div>
	</div>

	<div class="tile col-md-3 col-sm-12 col-xs-12 a_sm_content">
		<div class="row tile-body">
			<div class="col-md-12">
				<div class="a_title">上位机配置</div>
				<form class="form-horizontal" action="" method="post">
					<div class="row a_row_item">
						<label class="control-label col-md-5 a_label2 ">上位机IP&emsp;：</label>
		                  <div class="col-md-6">
			                    <input id="ip" class="form-control " type="text " placeholder=" " value="{{params.ip}}">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-5 a_label2 ">上位机端口：</label>
		                  <div class="col-md-6">
			                    <input id="port" class="form-control " type="text " placeholder=" " value="{{params.port}}">
		                  </div>
					</div>
					<div class="row a_row_item">
						<label class="control-label col-md-5 a_label2 ">光电RTSP：</label>
		                  <div class="col-md-12">
			                    <input id="rtsp" class="form-control " type="text " placeholder=" " value="{{params.rtsp}}">
		                  </div>
					</div>
				</form>
			</div>

			<div class="col-md-12">
				<hr>
				<div style="margin:1em auto 1em auto;width: 100%;text-align: center;">
					<input id="save" class="btn btn-info" type="button" value="确定"/>
					<button class="btn" style="margin-left: 2em;">取消</button>
				</div>
			</div>
		</div>

    	
    </div>
    </main>
{% endblock %}


{% block js %}
<script src=" {{ url_for( 'static', filename='vali-admin/docs/js/popper.min.js' ) }} "></script>
<script src=" {{ url_for( 'static', filename='vali-admin/docs/js/plugins/pace.min.js' ) }} "></script>
<script src=" {{ url_for( 'static', filename='vali-admin/docs/js/plugins/chart.js' ) }} "></script>
<script>
	$(function(){
	    $("#save").click(function(){
			var rtsp = $('#rtsp').val();
			var ip = $('#ip').val();
			var port = $('#port').val();
	        $.post('/reconfig_swj',{ip:ip, port:port, rtsp:rtsp},function(res){
			});
		})

	})
</script>
{% endblock %}