{% extends "layout/base.html" %}
{% block head %}
{% block title %}重启{% endblock %} 
<style type="text/css">
	.a_tips{
		color: red;
		margin: .75em 0 1.5em 0;
	}
	.form-control{
		display: inline-block;
	}
	.a_select{
		width: 5em;
		padding-top: 0;
		padding-bottom: 0;
	}
</style>

{% endblock %}

{% block main %}


    <main class="app-content">
    	
	<div class="app-title">
	    <div>
	      <h1> 重启  </h1>
	    </div>
    </div>
    
    <div class="tile col-md-3 col-sm-12 col-xs-12 a_sm_content">
    	<div class="tile-body row">
    		<div class="col-md-12">
    			<div>
    				<label class="control-label a_label">重启系统：</label>
					<a href="/post/reboot" class="btn btn-info btn-sm">重启系统</a>
					<div class="a_tips">重启设备将断开当前所有连接，过程约1分钟</div>
    			</div>
    			
    			<hr />
    			
    			<div>
    				<label class="control-label a_label2">定时重启：</label>
                    
                    <div class="animated-radio-button" style="line-height: 1.5em;display: inline-block;position: relative;top: .4em;">
					              <label>
					                <input type="radio"><span class="label-text">开启 </span>
					              </label>
					              &emsp;
					              <label>
					                <input type="radio" checked=""><span class="label-text">关闭 </span>
					              </label>
					            </div>
                    
                    
                    <br /><br />
                    <label class="control-label a_label2">重启时间：</label>
    				<select class="form-control a_select">
					  <option>04</option>
					</select>
					&emsp;时&emsp;
					<select class="form-control a_select">
					  <option>30</option>
					</select>
					&emsp;分
					<br /><br />
					<label class="control-label a_label2">重&emsp;&emsp;复：</label>
                    
                    
                    <div class="animated-radio-button" style="line-height: 1.5em;display: inline-block;position: relative;top: .4em;">
					              <label>
					                <input type="radio"><span class="label-text">每天 </span>
					              </label>
					              &emsp;
					              <label>
					                <input type="radio" checked=""><span class="label-text">指定日 </span>
					              </label>
					            </div>
                    
                    
                    <br />
                    
                    <label class="control-label a_label">&#12288;&#12288;&#12288;&#12288;</label>
                    <div style="display: inline-block;">
                    	<div class="animated-checkbox">
			              <label>
			                <input type="checkbox"><span class="label-text">星期一</span></label>&#12288;
			                <label>
			                <input type="checkbox"><span class="label-text">星期二</span>
			              </label>&#12288;
			              <label>
			                <input type="checkbox"><span class="label-text">星期三</span>
			              </label>&#12288;
			              <label>
			                <input type="checkbox"><span class="label-text">星期四</span>
			              </label>&#12288;
			              <label>
			                <input type="checkbox"><span class="label-text">星期五</span>
			              </label>&#12288;
			              <label>
			                <input type="checkbox"><span class="label-text">星期六</span>
			              </label>&#12288;
			              <label>
			                <input type="checkbox"><span class="label-text">星期日</span>
			              </label>
			            </div>
                    </div>
    			</div>
    			
    			<hr style="margin: 1.5em 0 3em 0;" />
    			
    			<div style="text-align: center;width: 90%;">
    				<button class="btn btn-info">确定</button>
    				<button class="btn" style="margin-left: 2em;">取消</button>
    			</div>
    		</div>
    		
    			
    		
    		
    	</div>
    </div>
    </main>
		
{% endblock %}


{% block js %}
		<script type="text/javascript">
			$(function(){
				
				
				console.log("s");
				

			

			
		})
	</script>
	{% endblock %}



