{% extends "layout/base.html" %}
{% block head %}
{% block title %}系统时间{% endblock %} 
<style type="text/css">
	.a_select{
		width: 3.5em;
		padding-top: 0;
		padding-bottom: 0;
	}
	.form-control{
		display: inline-block;
	}
</style>
{% endblock %}

{% block main %}


    <main class="app-content">
    	
	<div class="app-title">
	    <div>
	      <h1> 系统时间 </h1>
	    </div>
    </div>
    
    <div class="tile ol-lg-4 col-md-4 col-sm-12 col-xs-12 a_sm_content">
    	<div class="tile-body row">
    		<div class="col-md-12">
    			<div class="a_title" style="margin-bottom: 1.5em;">时间设置</div>
    			<div>
    				<label class="control-label a_label a_label2">当前时间：</label>
             		<span id="systime" class="a_label2">-</span>
    			</div>
              	<div style="margin-top: 1em;">
    				<label class="control-label a_label a_label2">设置时间：</label><br />
             		 <input style="width: 4.5em;" class="form-control a_select" type="text" placeholder="">&emsp;年&emsp;
             		 <input class="form-control a_select" type="text" placeholder="">&emsp;月&emsp;
             		 <input class="form-control a_select" type="text" placeholder="">&emsp;日
              	</div>
    			<div style="margin-top: 2em;">
    				<label class="control-label a_label a_label2">同步时间：</label>
    				<button style="position: relative;top: .3em;" class="btn btn-sm btn-info">获取网络时间</button>
    			</div>
    			
    			<hr style="margin: 1.5em 0 3em 0;" />
    			
    			<div style="text-align: center;width: 90%;">
    				<button id="save" class="btn btn-info">确定</button>
    				<button class="btn" style="margin-left: 2em;">取消</button>
    			</div>
    			
    		</div>
    		
    	</div>
    </div>
    </main>
{% endblock %}
{% block js %}
 <script type="text/javascript">
		$("#save").click(function(){
			alert();
			$.post("/post/changesystime/",function(res){
				console.log(res);
			})
		});


		function getSystime(){
			var time,year,month,date,hours,minutes,seconds;
			time = new Date();
			year = time.getFullYear();
			//以下是通过三元运算对日期进行处理,小于10的数在前面加上0
			month = (time.getMonth()+1)<10?("0"+(time.getMonth()+1)):(time.getMonth()+1);
			date = time.getDate()<10?("0"+time.getDate()):time.getDate();
			hours = time.getHours()<10?("0"+time.getHours()):time.getHours();
			minutes = (time.getMinutes()<10?("0"+time.getMinutes()):time.getMinutes());
			seconds = (time.getSeconds()<10?("0"+time.getSeconds()):time.getSeconds());
			//下面操作可以拼成自己想要的日期格式，如：2018-01-15 14:32:57
			time = year+"-"+month+"-"+date+" "+hours+":"+minutes+":"+seconds;
			return time;
		}
		// 当前系统时间
		setInterval(function(){
			$('#systime').text(getSystime());
		},1000);

 </script>

{% endblock %}
